#main-header {
  box-shadow: none;
  -webkit-box-shadow: none;
}

#breadcrumbs {
  margin-bottom: 1em;
  color: $purple;
  span {
    @include font-size(12px);
  }
  a {
    color: $purple;
    font-size: inherit;
    font-weight: inherit;
  }
}

.container.et_menu_container {
  z-index: auto;
}

.et_fixed_nav #main-header {
  height: 172px; // Disables page just on scroll
  position: relative;
  @include breakpoint (large) {
    height: auto;
  }
}

.et_fixed_nav #main-header.et-fixed-header {
  @include breakpoint (large) {
    position: fixed;
  }
}

.logo_container, .logo_container * {
  transition: none !important; // Disables animation transition
}

#main-header, #main-header * {
  transition: none !important; // Disables animation transition
}
