#main-header {
  box-shadow: none;
  -webkit-box-shadow: none;
}

#breadcrumbs {
  margin-bottom: 1em;
  color: $purple;
  a {
    color: $purple;
  }
}

.container.et_menu_container {
  z-index: auto;
}
