#main-header {
  box-shadow: none;
}

#breadcrumbs {
  margin-bottom: 1em;
  color: $purple;
  span {
    @include font-size(12px);
  }
  a {
    color: $purple;
    font-size: inherit;
    font-weight: inherit;
  }
  @include breakpoint (small) {
    display: none;
  }
}

.et_fixed_nav #main-header {
  height: 172px; // Disables page just on scroll
  position: relative;
  @include breakpoint (large) {
    height: auto;
  }
}

.et_fixed_nav #main-header.et-fixed-header {
  @include breakpoint (large) {
    position: fixed;
  }
}

.logo_container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  @include breakpoint(large) {
    align-items: center;
  }
}

.logo_container, .logo_container * {
  transition: none !important; // Disables animation transition
}

#main-header, #main-header * {
  transition: none !important; // Disables animation transition
}

.et_header_style_left .logo_container{
  position: relative;
  padding: 20px 0;
}

.et_header_style_left #logo, .et_header_style_split #logo {
  @include breakpoint(divi-medium) {
    max-width: none;
    height: 50px;
    max-height: 90%;
  }
}

.logo_link {
  display: inline-block;
}

.logo-lg {
  max-width: none;
  @include breakpoint(small) {
    max-width: 50%;
  }
}

.logo-sm {
  display: none;
  // @include breakpoint (small) {
  //   display: block;
  //   max-width: 40%;
  //   -moz-transition: all 0.4s ease-in-out;
  //   -webkit-transition: all 0.4s ease-in-out;
  //   transition: all 0.4s ease-in-out;
  //   margin-bottom: 0;
  //   max-height: 90%;
  //   display: inline-block;
  //   float: none;
  //   vertical-align: middle;
  // }
}