@mixin transitions{
  -webkit-transition: 0.25s all;
  -moz-transition: 0.25s all;
  -ms-transition: 0.25s all;
  -o-transition: 0.25s all;
   transition: 0.25s all;
}

@mixin transitionsOff{
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
   transition: none;
}

@mixin trans-delay{
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
   transition-delay: 0.25s;
}

.hover-container {
  overflow: hidden;
}

.elem-large-hover {
  width: 120%;
  margin: 0 0 0 -10%;
  @include breakpoint (medium) {
    width: 100%;
    margin: 0;
  }
  .large-hover-img {
    display: table;
    overflow: hidden;
    background-color: #8A908A;
    width: 20%;
    float: left;
    height: 500px;
    -ms-transform: skewX(165deg);
    -webkit-transform: skewX(165deg);
    transform: skewX(165deg);
    @include transitions;
    //@include trans-delay;
    @include breakpoint (medium) {
      @include transitionsOff;
      -ms-transform: none;
      -webkit-transform: none;
      transform: none;
      width: 50% !important; // This overrides .active and .condensed class on smaller screens
      &:first-child {
        width: 100% !important; // This overrides .active and .condensed class on smaller screens
      }
    }
    @include breakpoint (small) {
      @include transitionsOff;
      -ms-transform: none;
      -webkit-transform: none;
      transform: none;
      width: 100% !important; // This overrides .active and .condensed class on smaller screens
      &:first-child {
        width: 100% !important; // This overrides .active and .condensed class on smaller screens
      }
    }
    &.active {
      width: 40%;
    }
    &.condense {
      width: 15%;
    }
  }
  .lh-table {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    -ms-transform: skewX(-165deg);
    -webkit-transform: skewX(-165deg);
    transform: skewX(-165deg);
    position: relative;
    @include breakpoint (medium) {
      //display: block;
      -ms-transform: none;
      -webkit-transform: none;
      transform: none;
    }
    &.img-first {
      left: 10%;
      @include breakpoint (medium) {
        left: initial;
      }
    }
    &.img-last {
      right: 10%;
      @include breakpoint (medium) {
        right: initial;
      }
    }
    &.img-first, &.img-last {
      p.lh-reveal {
        margin: 0.5em 30% 0;
        @include breakpoint (medium) {
          margin: 0.5em 10%;
        }
      }
    }
  }
  .lh-container {
    display: block;
    width: 160%;
    margin: 0 0 0 -30%;
    vertical-align: middle;
    text-align: center;
    background: #525252;
    background: rgba(84, 82, 82, 0.89);
    padding: 1em 0;
    color: $white;
    cursor: pointer;
    position: relative;
    //position: absolute;//comment for centered
    z-index: 2;
    @include breakpoint (medium) {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin: 0;
    }
    &.red {
      background: $red;
      @include opacity(0.8);
    }
    &.purple {
      background: $purple;
      @include opacity(0.8);
    }
  }
  .lh-click {
    @include font-size(20px);
    line-height: 1.5;
    margin: 0;
    &:after {
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f055";
      font-size: 1em;
      display: block;
      text-align: center;
      @include fontawesome;
      @include breakpoint (medium) {
        display: none;
      }
    }
  }
  .lh-reveal {
    @include font-size(14px);
    margin: 0.5em 25% 1em;
    @include breakpoint (medium) {
      margin: 0.5em 10% 1em !important;
      display: block !important;
      height: auto !important;
    }
  }
  .lh-background {
    background: url(assets/1.jpg);
    background-position: 0 center;
    background-size: cover;
    position: absolute;
    width: 200%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: -50%;
    @include breakpoint (medium) {
      left: 0;
      width: 100%;
    }
  }
}
.lh-container {
  p {
    margin: 0.5em 25%;
    padding-bottom: initial;
    @include breakpoint (medium) {
      margin: 0.5em 10%;
    }
  }
}
