#et-top-navigation {
  text-transform: uppercase;
  -moz-transition-property: all;
	-moz-transition-duration: 2s;
	-webkit-transition-property: all;
	-webkit-transition-duration: 2s;
	transition-property: all;
	transition-duration: 2s;
  transition: all !important;
}

.et_header_style_left #et-top-navigation {
  padding-top: 123px;
  @include breakpoint (large){
    padding-top: 33px;
  }
}

.nav{
  li.slide-left li ul {
    left: auto;
    right: 240px;
  }
  li.mega-menu li ul {
    left: 240px;
    right: initial;
  }
  li ul {
    border-color: $red;
  }
}

#top-menu {
  > .menu-item-has-children {
    > a:first-child {
      padding-right: 1em;
      &:after {
        content: "5";
      }
      .et-hover & {
        color: green;
      }
      &:hover::after {
        content: "3";
      }
    }
    &.et-hover > a:after {
      content: "3";
    }
  }
  .sub-menu {
    .menu-item-has-children {
      a:after {
        content: "5";
      }
    }
  }
  ul > li {
    font-size: 1em;
    line-height: 1.5;
    a:after {
      line-height: 1.25;
    }
  }
}

#top-menu, #mobile_menu {
  a {
    color: $purple;
  }
}

#top-menu-nav {
  @include breakpoint (large) {
    display: none;
  }
}

#et_mobile_nav_menu {
  @include breakpoint (large) {
    display: block;
  }
}

#et_top_search {
  color: $purple;
  position: absolute;
  right: -2.5em;
  @include breakpoint (large) {
    margin: 8px 16px 0 33px;
    position: relative;
    float: left;
    right: initial;
  }
}

#et_search_icon {
  color: $purple;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  &:before {
    top: -3px ;
  }
  &:hover {
    color: $purple;
    opacity: 0.7;
  }
}

.et-search-form {
  padding-top: 120px;
  @include breakpoint (large) {
    padding-top: 33px;
    max-width: 50% !important;
    padding: 0 0 0 1em;
  }
  input {
    width: 100%;
    position: initial;
    //border: solid 1px $black;
    border: none;
    background: $mint;
    border-radius: 10px;
    padding: 0.5em;
    color: $black;
    @include breakpoint (large) {
      width: 70%;
      margin: 0;
    }
    @include breakpoint (small) {
      width: 60%;
    }
  }
}

span.et_close_search_field {
  color: $purple;
  margin: auto -3em auto 0;
  padding: 119px 0 0 0;
  height: initial;
  @include breakpoint (large) {
    padding: 29px 0 0 0;
    margin: auto 1em auto 0;
  }
  &:after {
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  &:hover:after {
    opacity: 0.7;
  }
}

// Mobile Nav Styles
.et_mobile_menu {
  border-color: $red;
  li ul {
    visibility: initial !important;
    display: initial !important;
  }
  li {
    a {
      text-decoration: none;
    }
  }
}

.mobile_menu_bar {
  margin-top: -14px;
  &:before {
    color: $red;
  }
}

.menu-item-has-children.ui-accordion {
  ul {
    display: none !important;
  }
  ul.ui-accordion-content-active {
    display: inline !important;
  }
}

.ui-accordion-icons {
  &::after {
    font-family: 'ETmodules';
    content: "5";
    font-size: 16px;
    vertical-align: bottom;
    right: 0;
    top: 0;
    font-weight: 800;
  }
  &.ui-accordion-header-active::after {
    content: "3";
  }
}
