#et-top-navigation {
  text-transform: capitalize;
  display: inline-block;
  padding-left: 0 !important; // Divi override
  float: none;
  position: relative;
  @include breakpoint(large) {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
  }
  @include breakpoint(divi-medium) {
    position: relative;
    height: 40px;
    padding-top: 0;
  }
  @include breakpoint(medium) {
    height: 90px;
    margin-top: -55px;
  }
}

.et_header_style_left #et-top-navigation {
  padding-top: 0;
}

.nav{
  font-weight: bold;
  li.slide-left li ul {
    left: auto;
    right: 240px;
  }
  li.mega-menu li ul {
    left: 240px;
    right: initial;
  }
  li ul {
    border-color: $red;
  }
}

#top-menu {
  > .menu-item-has-children {
    > a:first-child {
      padding: 10px;
      &:after {
        content: ""; // Divi override
      }
      .et-hover & {
        color: green;
      }
      &:hover::after {
        content: ""; // Divi override
      }
    }
    &.et-hover > a:after {
      content: ""; // Divi override
    }
  }
  .sub-menu {
    .menu-item-has-children {
      > a:after {
        content: "5";
      }
    }
  }
  ul > li {
    font-size: 1em;
    line-height: 1.5;
    a:after {
      line-height: 1.25;
    }
  }
}

#top-menu, #mobile_menu {
  a {
    color: $darkgray;
    z-index: 2;
  }
}

#top-menu-nav {
  @include breakpoint (large) {
    display: none;
  }
}

#et_mobile_nav_menu {
  list-style: none;

  ul {
    list-style: none;
  }

  @include breakpoint (large) {
    display: block;
  }
}

// Mobile Nav Styles
.et_mobile_menu {
  border-color: $red;
  @include breakpoint (large) {
    .et_mobile_menu {
      max-height: 300px;
      max-height: 80vh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  li ul {
    visibility: initial !important;
    display: initial !important;
  }
  li {
    a {
      text-decoration: none;
    }
  }
}

.mobile_menu_bar {
  z-index: 5;
}

.et_header_style_left .mobile_menu_bar, .et_header_style_split .mobile_menu_bar {
  padding-bottom: 29px;
  @include breakpoint(medium) {
    padding-bottom: 78px;
  }
}