// Page Layout

#main-content .container {
  padding: 0;
}

.et_fixed_nav.et_show_nav #page-container {
  padding: 0 !important;
  //padding-top: 170px !important;
  @include breakpoint (large){
    //padding-top: 89px !important;
  }
  #main-header {
    top: 0 !important;
  }
}
