/* team template */
// Specificity increased with new Divi theme
.et-db #et-boc .et_pb_row.full-width-row {
    max-width: 100%;
    width: 100%;
}

.full-width-row .list-team-member article {
    max-width: 1160px;
    margin: 0 auto;
    padding: 27px 0;
    width: 90%;
}

.list-team-member .full-row{
    overflow: hidden;
}

.team-template .full-row:nth-child(even), .team-template .full-row:nth-child(even) .et_pb_section{
    background-color: #f3f1ed;
}

.wp-pagenavi{
    border-top: none;
}

.team-template{
    padding-top: 0;
}

.team-template .wp-pagenavi {
    max-width: 1160px;
    margin: 0 auto;
    border-top: none;
    margin-top: 30px;
}

/* single team */
.single-team h5{
    color: #2b266d;
    text-decoration: underline;
}

.full-widht-sec{
    font-weight: 300;
}

.full-widht-sec h2{
    margin-bottom: 20px;
    font-weight: bold;
}

/* Team page: Needs featured image to be shown on Team Page but doesn't need in single page */
.single-team article.team.has-post-thumbnail .et_post_meta_wrapper img {
    display: none;
}
.page article.team.has-post-thumbnail img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    width: 216px;
    height: 216px;  /* rhs force the team page images to be a square so the radius makes a circle */

    @include breakpoint(medium) {
      width: 75px;
      height: 75px;
    }
}
#et-boc .et_pb_posts article.team.has-post-thumbnail a.more-link {
    display: inline-block;
    padding: 0;
}