/*Contact*/
.gm-style:last-child {
    display: none;/*blue background in map*/
}
/* contact form css */
input, button {
    border: 0;
    outline: none;
}

textarea {
  padding: 2px;
  border: 1px solid #bbb;
  color: #4e4e4e;
  background-color: #fff;
}

.wpcf7-form,
.wpcf7-form input,
.wpcf7-form textarea {
    /*font-family: 'din_mediumregular';*/
    font-size: 15px;/*16px appears bold*/
}
.wpcf7-form input[type=text],
.wpcf7-form input[type=email] {
    width: 280px;
}
.wpcf7-form textarea {
    width: 100%;
}
.wpcf7-form input[type=text],
.wpcf7-form input[type=email],
.wpcf7-form textarea {
    border: 0;
    background-color: #e9e8e7;
}
.wpcf7-form input[type=text],
.wpcf7-form input[type=email],
.wpcf7-form textarea,
.wpcf7-form input[type=file] {
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
}
.wpcf7-form textarea {
    padding: 15px;
    height: 100px;
}
.wpcf7-form input {
    height: 44px;
    line-height: 44px;
}
.btn, .button, .wpcf7-form input[type=submit], .ctct-submit {
    border-radius: 0;
    background-color: #2b266d;
    color: #ffffff;
    display: inline-block;
    height: 39px;
    left: 0;
    line-height: 39px;
    margin-top: 10px;
    padding: 0 28px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
}
.btn a {
    color: #fff;
}
.btn-donate {
  position: absolute;
  right: -5px;
  top: 30px;
  background: $purple;
  color: $white;
  text-decoration: none;
  padding: 1em;
  border-radius: 5px;
  font-weight: 700;
  line-height: 1;
  z-index: 9999;

  @include breakpoint(large) {
    top: 15px;
  }

  @include breakpoint (small) {
    top: 70px;
  }
}
.wpcf7-form input[type=submit]:hover, .btn:hover {
    /* background-color: #ab1f2d; */
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition:    all 500ms ease-in-out;
    -ms-transition:     all 500ms ease-in-out;
    -o-transition:      all 500ms ease-in-out;
}
.wpcf7-form .form-input.form-input--full-width {
  width: 100%;
}
::-webkit-input-placeholder {
   color: #2d2d2d;
}

:-moz-placeholder { /* Firefox 18- */
   color: #2d2d2d;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #2d2d2d;
}

:-ms-input-placeholder {
   color: #2d2d2d;
}
.captcha {
    width: auto;
}
.wpcf7-form input.captcha-text {
    border-radius: 0;
    border: 2px solid #dcdcdc;
    background-color: #fff;
    width: 276px;
}
.btn.newsletter-btn p {
    padding-top: 8px;
}

// Gravity forms

.gform_no-margin {
  .gform_wrapper {
    margin: 0;
  }
}

.gform_no-heading {
  .gform_heading {
    display: none;
  }
}

// Button styles
.et_pb_button {
  text-decoration: none;
}

// Constant Contact forms
.ctct-form { 
  legend {
    font-size: 1.125rem;
    font-weight: 700;
  }

  label {
    font-size: 1.125rem;
    font-weight: 700;
  }

  .ctct-text, .ctct-email {
    font-size: inherit;
    font-family: inherit;
    padding: 5px 4px;
    letter-spacing: normal;
    display: block;
    margin-top: 8px;
    width: 100%;
    font-size: 1.125rem;
  }
}

// Hide default disclosure
.ctct-disclosure {
  display: none;
}

.et_pb_button:hover, .et_pb_module .et_pb_button:hover {
  padding: 0.5em 1.1em;
}