.page-title {
  background: $red;
  padding: 3em 0;
  overflow: hidden;
  @include breakpoint (medium) {
    padding: 1.5em 0;
  }
  &:after {
    content: "";
    background: $white;
    position: absolute;
    right: -10%;
    top: 0;
    width: 30%;
    height: 105%;
    transform: skewX(-25deg);
    @include breakpoint (medium) {
      display: none;
    }
  }
  h1 {
    color: white;
    padding: 0;
  }
}
