.page-title {
  background: $purple !important; //overriding divi fullwidth header styles
  padding: 30px 0;
  overflow: hidden;
  @include breakpoint(large) {
    padding: 1.1em 0;
  }
  @include breakpoint (medium) {
    padding: 5px 0;
  }
  &:after {
    content: "";
    background: $whitepurple;
    position: absolute;
    right: -10%;
    top: -5%;
    width: 30%;
    height: 110%;
    transform: skewX(-25deg);
    @include breakpoint (medium) {
      display: none;
    }
  }
  h1 {
    color: white;
    padding: 0;
    text-transform: uppercase;
    line-height: 32px;
    margin-right: 185px;
    font-size: 30px;

    @include breakpoint(medium) {
      font-size: 2rem;
      margin-right: 0;
    }
  }
  &.et_pb_fullwidth_header p{
    margin-bottom: 0;
  }
}
