.social-navigation-container {
  margin-right: 75px;
  @include breakpoint(divi-medium) {
    position: absolute;
    bottom: 15px;
    right: 0;
    margin-right: 0;
  }
}

.et_pb_social_media_follow {
  margin: 0;
  
  @include breakpoint(large) {
    display: inline-block;
    margin-right: 10px;
  }

  li a {
    margin-right: 4px;
  }
}

li.et_pb_social_icon a span {
  display: none;
}

ul.et_pb_social_media_follow {
  margin: 0;
}

.et_pb_social_media_follow li a.icon {
  width: 24px;
  height: 24px;
}

.et_pb_social_media_follow li a.icon::before {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
}

