// Start Divi toggle

.et_pb_toggle, .et_pb_toggle_close {
  background-color: $lightgray;
}

.et_pb_toggle {
  padding-left: 2rem;
}

.et_pb_toggle_open h5.et_pb_toggle_title, .et_pb_toggle_close h5.et_pb_toggle_title {
  font-size: 1.375rem;
  line-height: 28px;
  font-weight: 700;
  color: #AB162B;
}

.et_pb_toggle{
  border: none;
}

.et_pb_toggle_title:before {
  color: #AB162B;
  right: auto;
  left: -25px;
  content: "5";
}

.et_pb_toggle_open .et_pb_toggle_title:before{
  content: "3";
}

.landscape-img-size{
  width: 100%;
}

.et_pb_gutters3 .et_pb_column_4_4 .et_pb_module.et_pb_toggle{
  margin-bottom: 0;
}

.box-row-module .et_pb_column:first-child .bottom-link{
  margin-left: -20px;
}

.box-row-module .et_pb_column:first-child article .more-link{
  padding-left: 0;
}

// End Divi toggle

.group-toggle-target.group-toggle-target--toggled {
  display: none;
}

.group-toggle {
  display: block;
  width: 100%;
  border-top: solid 1px;

  &--toggled {
    .group-toggle__tab {
      &:after {
        content: "\f078";
      }
    }
  }
}

.group-toggle__tab {
  display: block;
  text-align: center;
  width: 75px;
  height: 50px;
  margin: 0 auto;
  background-color: $black;

  &:after {
    @include fontawesome();
    content: "\f077";
    display: block;
    color: $white;
    width: 75px;
    height: 50px;
    line-height: 3;
  }
}
