body {
  color: $black;
  font-size: 0.875em;
}

// Links
a {
  font-weight: inherit;
  color: $purple;
  text-decoration: underline;
}

.full-width-link {
  display: block;
  width: 100%;
  text-align: center;
  background-color: $purple;
  color: white;
  @include font-size(35px);
  text-transform: uppercase;
  //text-decoration: underline;
  padding: 1.75em 1em;
  margin: 0 0 0.75em 0;
  line-height: 1.5;
  @include breakpoint (small) {
    @include font-size(19px);
  }
}

.a--hover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Font Styles
h1, .et_pb_post h1 {
  @include font-size(32px);
}

h2, .et_pb_post h2 {
  @include font-size(32px);
}

h3, .et_pb_post h3 {
  @include font-size(22px);
}

h4, .et_pb_post h4 {
  @include font-size(22px);
}

p, .et_pb_post p {
  @include font-size(18px);
}

// font setting for blog posts
.single-blog .et_pb_text {
  @include font-size(18px);
  line-height: 28px;
}

.font-small {
  @include font-size(12px);
}

.left-align {
  text-align: left !important;
}

.text-bold {
  font-weight: bold;
}

.text-lead {
  font-size: 1.5rem;
}

.text-purple, .text--purple {
  color: $purple;
}

.et_pb_text {
  ul {
    li > ul {
      list-style-type: circle;
      li ul {
        list-style-type: square;
      }
    }
  }
}

sup{
  font-size: small;
}

.display-inline {
  display: inline;
}

.fa.fa--small {
  font-size: 0.5rem;
}

.text-center {
  text-align: center;
}

body.home .et_pb_row {
    position: initial;
    min-height: 174px;
    padding: 0;
}

.form-input.form-input--full-width {
  width: 100%;
}
