// Breakpoint Mixin
@mixin breakpoint($point) {
	@if $point == very-large {
		@media (max-width: 1366px) { @content ; }
	}
	@if $point == large {
		@media (max-width: 1200px) { @content ; }
	}
	@else if $point == medium {
		@media (max-width: 768px) { @content ; }
	}
		@else if $point == small {
		@media (max-width: 480px) { @content ; }
	}
}

// Opacities
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// PX Calculations
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
