html {
    overflow-x: hidden;
}

@font-face {
    font-family: 'din_alternatebold';
    src: url('../fonts/din-font/din_alternate_bold-webfont.eot');
    src: url('../fonts/din-font/din_alternate_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-font/din_alternate_bold-webfont.woff2') format('woff2'),
         url('../fonts/din-font/din_alternate_bold-webfont.woff') format('woff'),
         url('../fonts/din-font/din_alternate_bold-webfont.ttf') format('truetype'),
         url('../fonts/din-font/din_alternate_bold-webfont.svg#din_alternatebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'din_mediumregular';
    src: url('../fonts/din-font/din_medium-webfont.eot');
    src: url('../fonts/din-font/din_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-font/din_medium-webfont.woff2') format('woff2'),
         url('../fonts/din-font/din_medium-webfont.woff') format('woff'),
         url('../fonts/din-font/din_medium-webfont.ttf') format('truetype'),
         url('../fonts/din-font/din_medium-webfont.svg#din_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    /*font-family: 'din_mediumregular';*/
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    color: #AB162B;
}
/* Default Font Styles */
h1, .et_pb_post h1 {
  font-size: 32px;
  font-size: 2rem;
}
h2 {
  font-size: 32px;
  font-size: 2rem;
}
h3, .et_pb_post h3 {
  font-size: 22px;
  font-size: 1.375rem;
}
h4, .et_pb_post h4 {
  font-size: 22px;
  font-size: 1.375rem;
}
p, .et_pb_post p, .et_pb_text, .et_pb_toggle_content {
  font-size: 18px;
  line-height: 28px;
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: 400;
}
.newsletter-box p {
    font-size: 1.1rem;
    line-height: 22px;
}
.heading-row{
    padding-top: 0;
    padding-bottom: 0;
}
.heading-row h3 {
    padding-bottom: 0;
}
.heading-secondary{
    margin-top: 55px;
}
.heading-secondary h3{
    font-size: 24px;
    text-transform: none;
}
/*menu css */
.home .et_fixed_nav #main-header.et-fixed-header{
    position: relative !important;
}
.home .et-fixed-header .container.clearfix.et_menu_container{
    height: 100% !important;
}
.container, .et_pb_row, .et_pb_fullwidth_header .et_pb_fullwidth_header_container, .content-wrapper{
    width: 90%;
    max-width: 1160px;
}
.content-wrapper{
    margin-left: auto;
    margin-right: auto;
}
.et_pb_fullwidth_header .et_pb_fullwidth_header_container.left .header-content{
    padding-left: 0;
}
#top-menu li a {
    font-weight: normal;
}
#top-menu .menu-item-has-children > a:after {
    visibility: visible;
}

#top-menu a:after {
    visibility: hidden;
}
.et_header_style_left #et-top-navigation nav > ul > li > a, .et_header_style_split #et-top-navigation nav > ul > li > a {
    padding: 10px;
    padding-bottom: 28px;
}
.et_header_style_left #et-top-navigation {
    padding-top: 110px;
}
#et_search_icon:hover, .mobile_menu_bar:before, .et-social-icon a:hover, .comment-reply-link, .form-submit input, .et_pb_sum, .et_pb_pricing li a, .et_pb_pricing_table_button, .et_overlay:before, .entry-summary p.price ins, .woocommerce div.product span.price, .woocommerce-page div.product span.price, .woocommerce #content div.product span.price, .woocommerce-page #content div.product span.price, .woocommerce div.product p.price, .woocommerce-page div.product p.price, .woocommerce #content div.product p.price, .woocommerce-page #content div.product p.price, .et_pb_member_social_links a:hover, .woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before, .woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce a.button.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce-page input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover, .woocommerce-page #content input.button.alt:hover, .woocommerce a.button:hover, .woocommerce-page a.button:hover, .woocommerce button.button, .woocommerce-page button.button:hover, .woocommerce input.button:hover, .woocommerce-page input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce-page #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page #content input.button:hover .et_pb_widget li a:hover, .et_pb_bg_layout_light .et_pb_promo_button, .et_pb_bg_layout_light .et_pb_more_button, .et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active, .et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active, .et_pb_gallery .et_pb_gallery_pagination ul li a.active, .wp-pagenavi span.current, .wp-pagenavi a:hover, .et_pb_contact_submit, .et_password_protected_form .et_submit_button, .et_pb_bg_layout_light .et_pb_newsletter_button, .nav-single a, .posted_in a, #top-menu li.current-menu-ancestor > a, #top-menu li.current-menu-item > a, .bottom-nav li.current-menu-item > a, .footer-widget h4{
    color: inherit;
}
.wp-pagenavi span.current, .wp-pagenavi a:hover{
    color: #474647 !important;
}
.wp-pagenavi a, .wp-pagenavi span{
    font-size: 19px !important;
    margin: 0 1px;
}
.wp-pagenavi .extend {
    display: none;
}
.wp-pagenavi span.current{
    text-decoration: underline;
    font-weight: bold !important;
}
#et_search_icon.fa.fa-search, #et_search_icon.fa.fa-search:before{
    font-family: 'FontAwesome';
    content: "\f002";
}
#et_top_search{
    margin-top: 8px;
}
.box-row-module{
    padding-bottom: 37px;
}
.box-row-module .et_pb_column:first-child{
    position: relative;
    background: #d1e0d7;
    padding: 20px;
    margin-bottom: 75px;
}
.box-row-module .icon-top-right .et_pb_main_blurb_image img{
    width: 100%;
}
.box-row-module .et_pb_column:first-child h4 {
    font-size: 20px;
}

.box-row-module .et_pb_column:first-child article h2 {
    margin-top: 2px;
    font-size: 18px;
    line-height: 28px;
    font-size: 1.125rem;
    line-height: 28px;
    font-weight: bold;
    padding-bottom: 0;
}

.box-row-module .et_pb_column:first-child article p {
    font-size: 18px;
    line-height: 28px;
    font-size: 1.125rem;
    color: #2d2d2d;
    line-height: 21px;
}
.box-row-module .et_pb_column:first-child article{
    font-size: 18px;
    line-height: 28px;
    font-size: 1.125rem;
    line-height: 21px;
    margin-bottom: 20px;
}


/*footer*/
.home #main-footer, .home #footer-bottom{
    background-color: #FFF;
}
#main-footer{
    padding-top: 35px;
}
#main-footer, #footer-bottom{
    background: #d1e0d7;
}
#main-footer #menu-main-nav a {
    font-size: 14px;
}

#main-footer #menu-main-nav a {
    font-size: 14px;
    color: #474647;
    text-transform: uppercase;
}

#main-footer #menu-main-nav ul.sub-menu a {
    text-decoration: none;
    text-transform: none;
}

#main-footer #menu-main-nav ul.sub-menu li {
    margin-top: 4px;
}
#menu-secondary-footer li a {
    text-decoration: none;
}

footer ul.sub-menu {
    margin-top: 15px;
}

/*body .et_pb_section{
	padding-top: 0;
}*/
.page-title{
	background: #ab1f2d;
    padding: 1.1em 0;
}
.page-title:after{
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    -o-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.page-title h1 {
    text-transform: uppercase;
    line-height: 32px;
}
@media (min-width: 769px) {
    .lh-background{
      height: 500px !important;
    }
    .page-title h1 {
        margin-right: 130px;
        font-size: 30px;
    }
    .heading-module h3, .heading-row h3{
        font-size: 29px;
    }
    /*.video-post .et_pb_video{
        max-height: 250px;
        overflow: hidden;
    }
    .fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed{
        max-height: 250px;
    }*/
}
#breadcrumbs{
    margin-bottom: 10px;
}
.gratitude-video .et_pb_row, .focus-area .et_pb_row{
	margin: 0;
	width: 100%;
}
.view-all p{
    font-size: 18px;
    line-height: 28px;
}
.view-all-row{
	padding-top: 0;
    margin-bottom: 27px;
}
header #top-menu .menu-item-has-children > a:first-child:after,  header .fullwidth-menu .menu-item-has-children > a:first-child:after, header #et-secondary-nav .menu-item-has-children > a:first-child:after{
	top: auto;
  line-height: 1.25;
}
/*banner*/
.lh-click{
    opacity: 1 !important;
}
.lh-table {
    text-shadow: 1px 2px 2px #000;
}
.elem-large-hover .lh-click:after{

}
.call-to-action-row{
    overflow: hidden;
    max-width: 100%;
}
.oval-thumb{
	text-align: center;
}
.oval-thumb .icon{
	display: block;
}
.blue-btn a {
    background: #2b266d;
}
.circleimage .et_pb_row{
    max-width: 1040px;
}
.circleimage .et_pb_main_blurb_image {
    margin-bottom: 17px;
}
.circleimage .et_pb_blurb_container i, .circleimage .et_pb_blurb_container a{
    font-size: 30px;
    text-decoration: none;
}
.circleimage .et_pb_blurb_container a{
    font-size: 20px;
}
.circleimage img {
    border-radius: 50%;
}
.top-intro{
	margin-top: 38px;
	margin-bottom: 85px;
}
.top-intro h2 {
    color: #ab1f2d;
    text-align: center;
}
.top-intro h4, .top-intro h4 span, .top-intro h4 strong{
    display: inline-block;
    background: #ab1f2d;
    padding: 20px;
    margin-top: 8px;
    color: #FFF;
    font-weight: normal;
    font-size: 26px;
}
.top-intro h4 {
    position: absolute;
    text-align: center;
    left: 50%;
    padding: 15px 50px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.et_pb_fullwidth_header_0.et_pb_fullwidth_header {
    background-color: #AB162B !important;
}
.top-intro section.et_pb_fullwidth_header_0.et_pb_fullwidth_header {
    background: #d1e0d7 !important;
    padding-top: 0;
    padding-bottom: 0px;
}
.top-intro section h2{
    font-size: 38px;
    margin-top: 34px;
}
.top-intro h3 {
    font-size: 27px;
    line-height: 37px;
    margin-top: 15px;
    text-align: center;
}
.blue-btn .et_pb_promo_description {
    display: none;
}
body .et_pb_fullwidth_header .et_pb_fullwidth_header_container.left .header-content{
	margin-left: 0;
}
.et_pb_blog_grid .et_pb_post {
    border: none;
    padding: 0;
}

/*.et_pb_row {
    width: 100%;
}*/
body h3{
    color: #ab1f2d;
}
.et_pb_column_1_3 h2, .et_pb_column_1_4 h2, h3 {
    font-size: 30px;
}

.circleimage {
    padding-bottom: 60px;
}
.circleimage h4,
.circleimage i {
    color: #2b266d;
}
.circleimage h4 {
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
}
.circleimage p {
}
.et_pb_column_1_3 h2, .et_pb_column_1_4 h2, h3 {
    font-size: 22px;
    font-size: 1.375rem;
    text-transform: uppercase;
}
.et_pb_post h2{
    margin-top: 18px;
    font-size: 22px;
    font-size: 25px;
    color: #2b266d;
    line-height: 28px;
    padding-bottom: 6px;
    position: relative;
    z-index: 1;
}
.et_pb_post h2 a, .et_pb_portfolio_item h3 a{
    text-decoration: underline;
}
.et_pb_bg_layout_light .et_pb_post .post-meta, .et_pb_post {
    font-size: 18px;
    line-height: 28px;
    font-size: 1.125rem;
    color: #2d2d2d;
    line-height: 24px;
}
.et_pb_post{
    margin-bottom: 35px;
}
.two-col-sec p {
    font-size: 18px;
    line-height: 28px;
    font-size: 1.125rem;
}
/*jcarousel*/
a.jcarousel-control-prev, a.jcarousel-control-next{
    background: transparent;
    text-shadow: none;
    box-shadow: none;
    color: #2b266d;
    font-size: 70px;
    left: -45px;
    margin-top: -65px;
}
a.jcarousel-control-prev:active, a.jcarousel-control-next:active{
    background: no-repeat;
}
a.jcarousel-control-next{
    left: auto;
    right: -35px
}
.jcarousel h2 {
    margin-top: 15px;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    color: #2b266d;
    padding-bottom: 5px;
}

.jcarousel p {
    font-size: 18px;
    line-height: 28px;
    color: #2b266d;
    text-decoration: underline;
}
.carousel-section {
    padding-bottom: 23px;
	margin-top: 30px;
}
.carousel-section .view-all {
    margin-top: 43px;
}
.carousel h2 {
    clear: both;
    margin-top: 10px;
    display: inline-block;
    overflow: hidden;
}
.carousel h2 a{
    text-decoration: none;
}
/*general dashboard*/
.top-intro.general-dashbord{
    margin-bottom: 69px;
}
.stories-of-gratitude {
    padding-bottom: 40px;
}

/*two-column*/
.stories-of-gratitude-two article.et_pb_post,
.news-events-page article.et_pb_post,
.list-news-two article.et_pb_post {
    float: left;
    margin-right: 1.4%;
    width: 49.30%;
}
.stories-of-gratitude-two article.et_pb_post:nth-child(even),
.news-events-page article.et_pb_post:nth-child(even),
.list-news-two article.et_pb_post:nth-child(even) {
    margin-right: 0;
}
.list-news-two article.et_pb_post{
    margin-right: 6.7%;
    width: 46.65%;
}
/* news-events */
.news-events-page article .et_pb_image_container {
    display: none;
}
/* for next pages */
body.paged .news-events-page article .et_pb_image_container {
    display: none !important;
}
.news-events-page article:nth-child(1) .et_pb_image_container,
.news-events-page article:nth-child(2) .et_pb_image_container {
    display: block;
}
.news-events-page article:nth-child(1) .et_pb_image_container a,
.news-events-page article:nth-child(2) .et_pb_image_container a{
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.news-events-page article:nth-child(1) .et_pb_image_container img,
.news-events-page article:nth-child(2) .et_pb_image_container img{
opacity: 0;
}
.news-event {
    font-size: 18px;
    line-height: 28px;
    line-height: 27px;
}
.news-event h2 {
    margin-bottom: 0;
}
article.news-event{
    margin-bottom: 93px;
}
.two-row-module article.news-event{
    margin-bottom: 35px;
}
.two-row-module article.news-event h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.two-row-module article.news-event .time, .two-row-module article.news-event .date{
    font-size: 14px;
    line-height: 21px;
    display: block;
}
.two-row-module article.news-event .time{
    margin-bottom: 5px;
}
.two-row-module article.news-event:last-child{
    margin-bottom: 30px;
}
ul.awDatesUL {
    padding-top: 65px;
    padding-bottom: 65px;
    text-align: center;
    list-style: none;
}
ul.awDatesUL li {
    display: inline;
    margin: 0 20px;
    font-size: 30px;
}
ul.awDatesUL li:after {
    content: "|";
    padding-left: 42px;
}
ul.awDatesUL li:last-child::after {
    display: none;
}
/* list-news in professional dashboard */
.list-news .list-news-thumb {
    float: left;
    width: 150px;
    margin-right: 20px;
    margin-top: 5px;
}
.list-news-two .list-news-thumb{
    float: left;
    width: 30%;
    margin-right: 2%;
    margin-top: 25px;
}
.news-events-page article h2{
    font-size: 20px;
}
.news-events-page article {
    font-size: 18px;
    line-height: 28px;
    font-size: 1.125rem;
    line-height: 27px;
    margin-bottom: 92px;
}
@media (min-width: 981px){
    .et_pb_gutters3 .et_pb_column_4_4 .et_pb_module.heading-row.heading-secondary,
    .et_pb_gutters3.et_pb_row .et_pb_column_4_4 .et_pb_module.heading-row.heading-secondary
    .et_pb_gutters3 .et_pb_column_4_4 .et_pb_module.heading-row.heading-secondary{
        margin-bottom: 25px;
    }
    .et_pb_gutters3 .et_pb_column_4_4 .heading-module{
        margin-bottom: 0.15%;
    }
    .et_pb_section{
        padding: 0;
    }
    .et_pb_gutters3 .et_pb_column_1_2 .et_pb_module, .et_pb_gutters3.et_pb_row .et_pb_column_1_2 .et_pb_module, .et_section_specialty .et_pb_gutters3.et_pb_row .et_pb_column_1_2 .et_pb_module, .et_section_specialty .et_pb_row .et_pb_column_1_2 .et_pb_gutters3.et_pb_row_inner .et_pb_module {
        margin-bottom: 0px;
    }
    .et_pb_gutters3 .et_pb_column_1_4, .et_pb_gutters3.et_pb_row .et_pb_column_1_4{
        width: 23.975%;
    }
    .et_pb_gutters3 .et_pb_column, .et_pb_gutters3.et_pb_row .et_pb_column{
        margin-right: 1.3%;
    }
    .circleimage{
        margin-top: 70px;
    }
    .circleimage .et_pb_column{
        margin-right: 1.3%;
    }
    .circleimage .et_pb_column{
        width: 32.466%;
    }
    .list-news-two article{
        margin-bottom: 50px;
    }
}
.two-column .column:nth-child(3){
	/*display: none;*/
}

.et_pb_blog_grid article.et_pb_post {
    border: none;
}

.column .et_pb_row {
    width: 100%;
}

/*catagory icon top right */
.icon-top-right i {
    position: absolute;
    top: 0;
    left: 0;
    color: #FFF;
    width: 1px;
    height: 1px;
    background: transparent;
    border-left: 80px solid #2b266d;
    border-top: 0 solid #2b266d;
    border-bottom: 80px solid transparent;
    font-size: 25px;
}
.icon-top-right i:before {
    margin-left: -68px;
    margin-top: 10px;
    display: block;
}
.newsletter-box {
    background: #ab1f2d;
    padding: 20px 15px;
    color: #FFF;
}
/* rhs
.newsletter-box p {
  font-size: 14px;
  font-size: 0.875rem;
}*/
/*current studies section */
.current-studies-section .et_pb_row.et_pb_row_8.et_pb_row_4col {
    padding-top: 10px;
}

.current-studies-section .et_pb_main_blurb_image, .thumb-with-title .et_pb_main_blurb_image{
    margin-bottom: 10px;
}
.et_post_video,
.et_pb_video {
    margin-bottom: 20px !important;
}
.et_pb_video_play:before {
    content: '';
}

.current-studies-section .et_pb_blurb h4 , .thumb-with-title h4,
.current-studies-section h4 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    color: #2b266d;
    text-decoration: underline;
}
.current-studies-section .view-all {
    margin-top: 56px;
}
.thumb-with-title .view-all{
    margin-top: 7px;
}
/*call to action button*/
.call-to-action-wrap {
    margin-top: 25px;
    margin-bottom: 25px;
}
.call-to-action-wrap .blue-btn a {
    font-size: 30px;
}
.call-to-action-wrap .blue-btn a:hover{
    background: #2b266d;
}
.et_pb_button:hover, .woocommerce a.button.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce-page input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover, .woocommerce-page #content input.button.alt:hover, .woocommerce a.button:hover, .woocommerce-page a.button:hover, .woocommerce button.button:hover, .woocommerce-page button.button:hover, .woocommerce input.button:hover, .woocommerce-page input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce-page #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page #content input.button:hover, .et_pb_button, .woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button{
    padding: 0.5em 1.1em;
    text-transform: uppercase;
}
.call-to-action-wrap .et_pb_button:after{
    display: none;
}
.page-title.et_pb_fullwidth_header p{
    margin-bottom: 0;
}
.et_pb_fullwidth_header p{
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 20px;
}
.et_pb_fullwidth_header .et_pb_fullwidth_header_container .header-content a{
    margin-top: 0;
}
.full-width-container section {
    padding-top: 0;
}
.box-row-module .newsletter-box, .box-row-module .icon-top-right .et_pb_main_blurb_image img{
        /*height: 280px;*/
    }
@media (min-width: 768px) {
    .two-column {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 60px;
        -moz-column-gap: 60px;
        column-gap: 60px;
    }
    .et_pb_toggle.two-column {
        -webkit-column-count: auto;
        -moz-column-count: auto;
        column-count: auto;
        -webkit-column-gap: auto;
        -moz-column-gap: auto;
        column-gap: auto;
    }
    .et_pb_toggle.two-column .et_pb_toggle_content{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 60px;
        -moz-column-gap: 60px;
        column-gap: 60px;
    }
    .box-row-module .et_pb_column{
        /*height: 310px;*/
    }
    .call-to-action-wrap .blue-btn a {
        font-size: 32px;
    }
}
.row-spaced {
    padding: 40px 0;
}
.nomarginright {
    margin-right: 0 !important;
}
/* Friends and Family Dashboard */
.show-video-only .et_pb_row {
    display: none;
}
.show-video-only .et_pb_section {
    padding-bottom: 0;
}
.show-video-only .et_pb_row.et_pb_row_1 {
    display: block;
}
.two-items-in-row .column.size-1of3 {
    width: 44% !important;
}
/* team list page */
.profile-img {
    float: left;
    margin-right: 40px;
    width: 216px;
}
.profile-intro h2{
    color: #2b266d;
    margin-bottom: 5px;
    font-weight: 300;
    margin-top: 0;
}
.profile-intro h2 .name{
    text-decoration: underline;
    font-weight: normal;
    margin-right: 8px;
    margin-right: 0.5rem;
}

a.more-link {
  padding: 0 10px;
}
.profile-intro p {
    margin-bottom: 10px;
}
.profile-intro a.more-link {
    display: block;
    padding: 0;
}

/* Team page: Needs featured image to be shown on Team Page but doesn't need in single page */
.single-team article.team.has-post-thumbnail .et_post_meta_wrapper img {
    display: none;
}
.page article.team.has-post-thumbnail img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    height: 216px;  /* rhs force the team page images to be a square so the radius makes a circle */
    width: 216px;
}
.page .et_pb_posts article.team.has-post-thumbnail a.more-link {
    display: inline-block;
}
img.full-width {
    height: auto;
    width: 100%;
}

/* homepage-slider */
.homepage-slider .caption-head {
    font-size: 1.25rem;
}
.elem-large-hover .lh-container a {
    color: #ffffff;
    text-decoration: none;
}
.elem-large-hover .lh-table.img-first .lh-reveal, .elem-large-hover .lh-table.img-last .lh-reveal {
    margin: 0.5em 30% 0;
}
.elem-large-hover .lh-table .lh-reveal a {
    display: block;
}

.full-width-link {
    position: absolute;
    left: 0;
}
.full-width-link a {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #250670;
    color: white;
    font-size: 35px;
    font-size: 2.1875rem;
    text-transform: uppercase;
    line-height: 1.5;
}
body.home .et_pb_row {
    position: initial;
    min-height: 174px;
    padding: 0;
}

/*Professional Dashboard*/
.event-style .et_pb_blurb_content {
    min-height: 150px;
    margin-bottom: 20px;
}
.event-style p {
    padding-bottom: 5px;
}
.event-style .et_pb_main_blurb_image img {
    height: 150px;
    margin-right: 20px;
    float: left;
}

/* Template 4a */
.et_pb_row .et_pb_column_1_2:last-child {
    float: right;
}

/* current studies */
.show-image-and-text article.et_pb_post {
    width: 20.875%;
    float: left;
    margin-right: 5.5%;
}
.show-image-and-text .et_pb_post h2 {
    /*margin: 0 -20px;*/
    text-transform: uppercase;
    font-size: 24px;
}
.show-image-and-text article.et_pb_post:nth-child(4n) {
    margin-right: 0;
}
.et_pb_image_container, .et_pb_blog_grid .et_main_video_container, .et_pb_blog_grid .et_audio_content, .et_pb_blog_grid .et_pb_post .et_pb_slider {
    margin: 0;
}

/* team tempalte */
.et_pb_row.full-width-row {
    max-width: 100%;
    width: 100%;
}
.full-width-row .list-team-member article {
    max-width: 1160px;
    margin: 0 auto;
    padding: 27px 0;
    width: 90%;
}
.list-team-member .full-row{
    overflow: hidden;
}
.team-template .full-row:nth-child(even), .team-template .full-row:nth-child(even) .et_pb_section{
    background-color: #f3f1ed;
}
.wp-pagenavi{
    border-top: none;
}
.team-template{
    padding-top: 0;
}
.team-template .wp-pagenavi {
    max-width: 1160px;
    margin: 0 auto;
    border-top: none;
    margin-top: 30px;
}
/* single team */
.single-team h5{
    color: #2b266d;
    text-decoration: underline;
}

.full-widht-sec{
    font-weight: 300;
}
.full-widht-sec h2{
    margin-bottom: 20px;
    font-weight: bold;
}
/*four colum blog list*/
.show-image-and-text article.et_pb_post {
    width: 23.875%;
    float: left;
    margin-right: 1.5%;
}
.show-image-and-text .source {
    min-height: 72px;
}
.show-image-and-text .source p {
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.icon-top-right h4 a {
    color: #2b266d;
    text-decoration: underline;
    text-transform: capitalize;
}

.icon-top-right .et_pb_main_blurb_image {
    margin-bottom: 10px;
}
.icon-top-right .et_pb_main_blurb_image a img {
    width: 100%;
}
.source-link{
    width: 100%;
    max-width: 600px;
  -webkit-columns: 2 100px;
  -moz-columns: 2 100px;
  columns: 2 100px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}
.box-row-module .et_pb_column:first-child .bottom-link{
    position: absolute;
    bottom: -40px;
}
.box-row-module .bottom-link p{
    font-size: 18px;
    line-height: 28px;
}
.box-row-module .icon-top-right .et_pb_main_blurb_image {
    margin-bottom: 12px;
}
.box-row-module .et_pb_blurb_container p,
.box-row-module .et_pb_text.et_pb_module.et_pb_bg_layout_light.et_pb_text_align_left.et_pb_text_10 p {
    font-size: 18px;
    line-height: 28px;
}
/*toggle */
.et_pb_toggle_close{
    background: none;
}
.et_pb_toggle{
    border: none;
}
.et_pb_toggle_open h5.et_pb_toggle_title, .et_pb_toggle_close h5.et_pb_toggle_title{
    font-size: 18px;
    line-height: 28px;
    color: #AB162B;
}
.et_pb_toggle_title:before {
    color: #AB162B;
    right: auto;
    left: -25px;
    content: "5";
}
.et_pb_toggle_open .et_pb_toggle_title:before{
    content: "3";
}
.landscape-img-size{
    width: 100%;
}
.et_pb_gutters3 .et_pb_column_4_4 .et_pb_module.et_pb_toggle{
        margin-bottom: 0;
    }
.box-row-module .et_pb_column:first-child .bottom-link{
 margin-left: -20px;
}
.box-row-module .et_pb_column:first-child article .more-link{
    padding-left: 0;
}
/*t5 style*/
.t5{
    margin-top: 20px;
}
.t5 p, .t5 .et_pb_post p{
    font-size: 18px;
    line-height: 28px;
    font-size: 1.125rem; /*fontsize as in psd*/
    line-height: 28px;
    /*font-size: 1.125rem;
    line-height: 27px;*/
}
.t5 .contact-info{
    margin-top: 20px;
    line-height: 26px;
}
.t5 .contact-address{
    margin-top: 60px;
    line-height: 20px;
}
.t5 .contact-address p{
    padding-bottom: 7px;
}
.list-with-dot li {
    font-size: 18px;
    line-height: 28px;
    font-size: 1.125rem;
    line-height: 28px;
    margin-bottom: 13px;
}

.list-with-dot p {
    padding-bottom: 0;
    font-size: 18px;
    line-height: 28px;
    font-size: 1.125rem;
}

.list-with-dot ul {
    margin-top: 5px;
}
/* form style */
.ginput_container ul.gfield_radio li {
    float: left;
    width: 100%;
    max-width: 120px;
    font-size: 14px;
}
.amt label {
    float: left;
}

.amt .ginput_container {
    padding-left: 10px;
    float: left;
    width: 200px;
}
/*.half-col {
    width: 45%;
    float: left;
    clear: none !important;
}
*/

.icon-top-right{
    margin-bottom: 95px;
}
.show-image-and-text .source a {
    font-size: 14px;
}

.show-image-and-text .source p {
    font-size: 14px;
    line-height: 28px;
    padding-top: 3px;
}
ul.awDatesUL li a{
    font-size: 30px;
}
ul.awDatesUL li a.active {
    color: #ab1f2d;
    text-decoration: none;
}
/*responsive*/

@media only screen and (min-width: 1350px){
    /*.et_pb_row {
        padding: 8px 0;
    }*/
    .et_pb_section {
        padding: 0px 0;
    }
    .page-title{
        padding: 30px 0;
    }
    .circleimage .et_pb_row.et_pb_row_0{
        margin-bottom: 0;
    }
    .carousel-section .et_pb_row {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .circleimage .et_pb_row {
        padding-top: 0;
    }
    .current-studies-section  .et_pb_row.et_pb_row_7{
        padding-bottom: 0;
    }
    .call-to-action-wrap  .et_pb_row{
        padding-top: 5px;
    }
}
@media (max-width: 1366px){
    .bottom-nav > li {
        width: 18%;
        margin-right: 2%;
    }

}

@media (max-width: 1200px){
    .et_fixed_nav #main-header.et-fixed-header,
    .et_fixed_nav #main-header.et-fixed-header .container:not(#breadcrumbs) {
        min-height: 75px;
    }
    #et_mobile_nav_menu{
        margin-top: 50px;
    }
    .et-search-form{
        max-width: 35% !important;
    }
    .et_header_style_left .et-fixed-header #et_top_search{
        margin-top: 11px;
    }
}

@media (max-width: 991px){
    .bottom-nav > li {
        width: 31%;
        margin-right: 2%;
        margin-bottom: 30px;
    }
    .bottom-nav > li:nth-child(4) {
        clear: left;
    }
    /*.box-row-module .icon-top-right .et_pb_main_blurb_image img{
        height: 303px;
    }*/
    .et_header_style_left .et-fixed-header #et_top_search{
        margin-top: 7px;
    }
}
@media (max-width: 767px){
    .bottom-nav > li {
        width: 100%;
        margin-right: 0%;
    }
    .call-to-action-wrap .blue-btn a {
        font-size: 25px;
    }
}
@media(min-width: 769px){
    .homepage-slider {
        height: 500px;
    }
    /*.large-hover-img:last-child.active{
        padding-right: 7%;
    }*/
    .homepage-slider {
        padding-left: 20px;
        padding-right: 60px;
    }
}
@media(min-width: 981px){
    .bottom-space-lg{
        margin-bottom: 170px;
    }
    .no-margin-bottom{
        margin-bottom: 0 !important;
    }
    .no-margin-top{
        margin-top: 0 !important;
    }
    .no-padding-bottom{
        padding-bottom: 0 !important;
    }
    .no-padding-top{
        padding-top: 0 !important;
    }
    .logo-sm{
        display: none !important;
    }
    .logo-lg{
        display: block;
    }
    .et_header_style_left .logo_container{
        margin-top: -9px;
    }
    .et-fixed-header .logo_container{
        margin-top: 0px;
    }
    .et_header_style_left #et-top-navigation {
        padding-top: 120px;
    }
    .et_pb_section .et_pb_row .et_pb_column .view-all-module:last-child, .et_pb_section.et_section_specialty .et_pb_row .et_pb_column .et_pb_column .view-all-module:last-child, .et_pb_section.et_section_specialty .et_pb_row .et_pb_column .et_pb_row_inner .et_pb_column .view-all-module:last-child{
    margin-bottom: 35px;
    }
    .view-all-module{
        clear: both;
    }
    .et_pb_gutters3 .et_pb_column_4_4 .et_pb_module.et_pb_toggle{
        margin-bottom: 0;
    }
    .box-row-module .newsletter-box {
        margin-bottom: 18px !important;
        height: 279px;
    }

    .circleimage .et_pb_column{
        margin-bottom: 20px;
    }
    .et_pb_gutters3 .et_pb_column_4_4 .et_pb_module{

    }
    .two-column .column{
        width: 46.25% !important;
        margin: 0 7.5% 0 0;/*corrected for general dashboard video: 0 7.5% 7.5% 0*/
    }
    .two-column .column:nth-child(2){
        margin-right: 0 !important;
    }
    .et_pb_gutters3 .et_pb_column_4_4 .et_pb_blog_grid .column.size-1of3 .et_pb_post{
        padding: 0;
    }
    body .et_pb_gutters3 .et_pb_column_4_4 .et_pb_blog_grid .column.size-1of3 .et_pb_post {
        padding-bottom: 0;
    }
    /*General dashboard: Video*/
    .et_pb_gutters3 .et_pb_column_4_4 .et_pb_blog_grid .column.size-1of3 .et_pb_post {
        /* margin-bottom: 0 !important; *//*Removed for events page*/
    }
    .carousel-section .et_pb_text.et_pb_module{
        margin-bottom: 20px;
    }
    .carousel-section .et_pb_module.heading-module{
        margin-bottom: 0;
    }
    .profile-intro {
        width: 60%;
        max-width: 585px;
        float: left;
    }
    .show-image-and-text article.et_pb_post {
        margin-bottom: 48px;
    }
}
@media (max-width: 980px){
    .no-margin-bottom-mobile{
        margin-bottom: 0 !important;
    }
    .no-margin-top-mobile{
        margin-top: 0 !important;
    }
    .no-padding-bottom-mobile{
        padding-bottom: 0 !important;
    }
    .no-padding-top-mobile{
        padding-top: 0 !important;
    }
    .et_always_center_on_mobile {
        text-align: left !important;
    }
    .events-list-gird article{
        margin-bottom: 25px;
    }
    .box-row-module .icon-top-right p{
        text-align: left !important;
    }
    .logo-sm{
        display: block;
        max-width: 50%;
        -moz-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        margin-bottom: 0;
        max-height: 90%;
        display: inline-block;
        float: none;
        vertical-align: middle;
    }
    .et-fixed-header .logo-sm {
        max-height: 60%;
    }
    .et_header_style_left .et-search-form, .et_header_style_split .et-search-form{
        max-width: 25% !important;
    }
    .logo-lg{
        display: none !important;
        visibility: hidden;
    }
    .heading-secondary{
        margin-top: 5px;
    }
     /*commented for http://mhif/news-events/whats-new/ footer sapce*/
    .et_pb_section{
        padding-top: 10px;
    }
    .circleimage .et_pb_column{
        margin-bottom: 20px;
    }
    .et_pb_column {
        margin-bottom: 0;
    }
    .et_pb_row .et_pb_column .view-all-module:last-child{
        margin-bottom: 27px;
    }
    .carousel-section .et_pb_module.heading-module{
        margin-bottom: 0;
    }
    /*.et_pb_section .et_pb_row, .et_pb_section.et_section_specialty .et_pb_row{
        padding-left: 30px;
        padding-right: 30px;
    }*/
    .profile-img {
        margin: 0 auto;
        display: block;
        float: none;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .profile-intro{
        width: 100%;
        display: block;
        clear: both;
    }
    .show-image-and-text article.et_pb_post {
        width: 47.25%;
        margin-right: 5.5%;
    }
    .show-image-and-text article.et_pb_post:nth-child(2n){
        width: 47.25%;
        margin-right: 0;
    }
    .icon-top-right i:before{
        margin-left: -110px;
    }
    .et_pb_row .et_pb_column .et_pb_module:last-child, .et_section_specialty .et_pb_row .et_pb_column .et_pb_module:last-child{
        margin-bottom: 30px;
    }
    .box-row-module .et_pb_column:first-child .bottom-link{
        position: absolute;
        bottom: -70px;
        text-align: center;
        width: 100%;
    }
    .et_pb_row .et_pb_column .et_pb_module:last-child{
        text-align: left;
    }
    .call-to-action-wrap .et_pb_row .et_pb_column .et_pb_module:last-child{
        text-align: center;
    }
    .box-row-module .newsletter-box {
        margin-bottom: 20px !important;
    }
    .circleimage{
        margin-top: 30px;
    }
    .t5{
        margin-top: 0;
        padding-top: 0;
    }
    .full-width-img img{
        width: 100%;
    }
}
@media(max-width: 479px){
    .et-search-form, span.et_close_search_field{
        padding-top: 50px;
    }
    #et_top_search{
        margin-right: 0;
        margin-left: 27px;
    }
    #et_mobile_nav_menu{
        margin-left: 16px;
    }
    .et_header_style_left #et-top-navigation{
       padding-top: 50px;
    }
   .stories-of-gratitude-two article.et_pb_post, .news-events-page article.et_pb_post, .list-news-two article.et_pb_post{
    width: 100%;
   }
    .show-image-and-text article.et_pb_post {
        width: 100%;
        margin-right: 0%;
        text-align: center;
    }
    .show-image-and-text article.et_pb_post:nth-child(2n){
        width: 100%;
        margin-right: 0;
    }
    article.news-event{
        margin-bottom: 10px;
    }
    .box-row-module .newsletter-box, .box-row-module .icon-top-right .et_pb_main_blurb_image img{
        height: auto;
    }
    .list-news-two-row .et_pb_blog_grid_wrapper{
        overflow: hidden;
    }
    .list-news-two-row .view-all{
        margin-top: 27px;
    }
}
@media(min-width: 480px){
    .img-text-left .et_pb_row .et_pb_column .et_pb_module:last-child{
        text-align: left;
    }
    .list-news-thumb{
        min-height: 185px;
    }
    .box-row-module .et_pb_column:first-child{
        min-height: 280px;
    }
}
@media(min-width: 480px) and (max-width: 980px){
    .list-news-thumb{
        min-height: 145px;
    }
    a.jcarousel-control-prev{
        left: -30px;
    }
    a.jcarousel-control-next{
        right: -30px;
    }
}
/* Temporarily hiding featured image of news-event */
.single-news-event .has-post-thumbnail .et_post_meta_wrapper img,
.single .has-post-thumbnail .et_post_meta_wrapper img {
    display: none;
}

/* robert's quick & dirty edits */
body.single-post .et_post_meta_wrapper {
    display: none;
}
body:not(.et_pb_pagebuilder_layout) .entry-content {
    width: 90%;
    max-width: 1160px;
    margin: 0 auto;
}
.hidden {
    display: none !important;
}
@media (max-width: 767px) {
    .et_header_style_left .et-search-form, .et_header_style_split .et-search-form{
        max-width: 40% !important;
    }
    .visible-xs {
        display: block;
    }
    .hidden-xs {
        display: none;
    }
    h2{
        margin-top: 30px;
    }
    .et_pb_column_4_4 .et_pb_video_play, .et_pb_column_3_4 .et_pb_video_play, .et_pb_column_2_3 .et_pb_video_play, .et_pb_column_1_2 .et_pb_video_play{
        margin-left: -1rem;
        margin-top: -1.7rem;
    }
    ul.awDatesUL {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .page-title{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .et_pb_fullwidth_header .et_pb_fullwidth_header_container.left .header-content{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .et_pb_section .et_pb_column .et_pb_module{
        margin-bottom: 5px;
    }
    .et_pb_section .icon-top-right .et_pb_column .et_pb_module{
        margin-bottom: 30px;
    }
    .et_pb_section .icon-top-right.et_pb_row .et_pb_column.et_pb_column_1_4 {
        margin-bottom: 0;
    }
    .et-pb-icon{
        font-size: 45px;
    }
}
@media (min-width: 768px) {
    .visible-xs {
        display: none;
    }
    .hidden-xs {
        display: block;
    }
    .et-pb-icon{
        font-size: 62px;
    }
    .et_pb_column_4_4 .et_pb_video_play, .et_pb_column_3_4 .et_pb_video_play, .et_pb_column_2_3 .et_pb_video_play, .et_pb_column_1_2 .et_pb_video_play{
        margin-top: -4rem;
    }
}
@media (max-width: 768px){
    .et_pb_column_4_4 .et_pb_video_play, .et_pb_column_3_4 .et_pb_video_play, .et_pb_column_2_3 .et_pb_video_play, .et_pb_column_1_2 .et_pb_video_play{
        margin-top: -2rem;
    }
    .view-all-module p{
        clear: both;
        text-align: left !important;
    }
}
/*jssor*/
.jcaption-head {
    position: absolute; width: 100%; height: 120px; top: 30px; left: 30px; padding: 5px;
    text-align: left; line-height: 60px; text-transform: uppercase; font-size: 50px;
    color: #FFFFFF;
}
.jcaption {
    position: absolute; width: 50%; height: 400px; top: 120px; left: 30px; padding: 5px; text-align: left; line-height: 32px; font-size: 20px; color: #FFFFFF;
}
.jcaption-head a, .jcaption a {
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
/* jssor slider arrow navigator skin 21 css */
/*
.jssora21l                  (normal)
.jssora21r                  (normal)
.jssora21l:hover            (normal mouseover)
.jssora21r:hover            (normal mouseover)
.jssora21l.jssora21ldn      (mousedown)
.jssora21r.jssora21rdn      (mousedown)
*/
.jssora21l, .jssora21r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    /* background: url(../img/a21.png) center center no-repeat; */
    overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21l.jssora21ldn { background-position: -243px -33px; }
.jssora21r.jssora21rdn { background-position: -303px -33px; }

/* jssor slider bullet navigator skin 21 css */
/*
.jssorb21 div           (normal)
.jssorb21 div:hover     (normal mouseover)
.jssorb21 .av           (active)
.jssorb21 .av:hover     (active mouseover)
.jssorb21 .dn           (mousedown)
*/
.jssorb21 {
    position: absolute;
}
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    position: absolute;
    /* size of bullet elment */
    width: 19px;
    height: 10px;
    text-align: center;
    line-height: 19px;
    color: white;
    font-size: 12px;
    /* background: url(../img/b21.png) no-repeat; */
    background-color: #250670;
    overflow: hidden;
    cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 .av,
.jssorb21 div:hover, .jssorb21 .av:hover {
    background-color: #b81137;
    /* background-position: -35px -5px;  */
}
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }

a:hover,
.full-width-link:hover,
.jcarousel p:hover {
    text-decoration: none !important;
}
.jcarousel .news-event{
    margin-bottom: 0;
}

@media (max-width: 1200px) {
    /* Correcting as in design of mobile site */
    #et_top_search {
        /*display: none;*/
        margin-top: -36px;
        margin-right: 35px;
    }
    .et-search-form, span.et_close_search_field{
        padding-top: 70px;
    }
    span.et_close_search_field {
        margin: auto 2.3em auto 0;
    }
    .logo_container {
        text-align: center;
    }
    .mobile_menu_bar {
        color: #2b266d;
        height: 30px;
        margin-top: 0px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        right: -10px;
        z-index: 999;
    }
}
@media (max-width: 767px) {
    .logo_container {
        text-align: left;
    }
}

@media (max-width: 600px) {
    #breadcrumbs{
        margin-bottom: 0.2em;
    }
    body.home .et_pb_row{
        min-height: 60px;
    }
    body.home .call-to-action-row{
        min-height: 175px;
    }

}
@media (max-width: 479px) {
    header#main-header {
        min-height: 80px !important;
        padding: 0px;
    }
    .et_fixed_nav #main-header.et-fixed-header {
        min-height: 80px;
    }
    header#main-header .container:not(#breadcrumbs) {
        min-height: 80px;
    }
    header#main-header .container.et_search_form_container {
        min-height: 1px !important;
    }

    .et_mobile_menu {
        top: 90px;
    }
    .logo_container #logo {
        min-height: 60px;
        max-width: 100%;
    }
    .list-news .list-news-thumb {
        width: 100%;
        min-height: 0px !important;
        margin-bottom: 10px;
    }
    .top-intro h4{
        width: 80%;
        padding-left: 0;
        padding-right: 0;
    }
    a.jcarousel-control-prev, a.jcarousel-control-next{
        left: 10px;
        margin-top: -45px;
    }
    a.jcarousel-control-next{
        right: 15px;
        left: auto;
    }
    body.home .call-to-action-row{
        min-height: 120px;
    }
}

.elem-large-hover .lh-background {
    background-position: 0 center;/* 0 0 */
}

@media (max-width: 1290px) and (min-width: 870px) {
    .elem-large-hover {
        width: 125%;
    }
}
@media (max-width: 869px) and (min-width: 769px) {
    .elem-large-hover {
        width: 130%;
    }
}
@media (min-width: 769px) {
    .elem-large-hover .lh-background {
        left: -190px;
    }
    .large-hover-img:last-child .lh-container {
        width: 140%;
        -webkit-transition: 0.3s all ease;
        -moz-transition: 0.3s all ease;
        transition: 0.3s all ease;
    }
    .large-hover-img:last-child.active .lh-container {
        width: 160%;
    }
}
@media (min-width: 2560px) {
    .homepage-slider,
    .elem-large-hover .large-hover-img,
    .lh-background {
        height: 800px !important;
    }
}
/* ipad Potrait  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
    .elem-large-hover .large-hover-img {
        width: 100% !important;
    }
}
@media (max-width: 768px) {
    .elem-large-hover .large-hover-img {
        width: 100% !important;
    }
}
.large-hover-img.active .lh-background {
    /*left: -150px; making center on hover */
}

/* visible md only */
@media (min-width: 992px) and (max-width: 1199px){
    .medium-thumb{
        height: 190px !important
    }
}
/* visible-sm only */
@media (min-width: 768px) and (max-width: 991px){
    .et_pb_column_4_4 .et_pb_video_play .et-pb-icon{
        font-size: 2.9rem;
    }
}

@media (max-width: 479px) {
    #et_top_search{
        margin-top: -7px;
        margin-right: 20px;
    }
    .et-search-form, span.et_close_search_field{
        padding-top: 40px;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    span.mobile_menu_bar{
        margin-top: -10px;
    }
}
/*up to ipad landscape*/
@media (max-width: 1024px) {
    .view-all-module p{
        clear: both;
        text-align: left !important;
    }
    .view-all p{
        font-size: 14px;
    }

}
/*ipad landscape only*/
@media (max-width: 1024px) and (min-width: 769px) {
    .box-row-module .et_pb_column:first-child{
        width: 100%;
    }
    .box-row-module .et_pb_column{
        width: 47.25%;
        margin-right: 5.5%;
    }
}
/* Landscape */
@media (max-width: 736px) and (orientation: landscape) {
    .jcarousel .news-event{
        padding-left: 5px;
        padding-right: 5px;
    }

}

/* Nav fixes */
.nav li ul {
    display: none;
}
.nav li:hover ul {
    display: block;
}

/* list-title */
.list-title article,
.list-title article ul {
    margin: 0;
    padding: 0;
}
.list-title article ul li {
    font-size: 14px;
}
.list-title article ul {
    list-style-type: disc;
    padding: 0 0 0px 16px;
    line-height: 26px;
}
.img-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.medium-thumb {
    width: 100%;
    height: 277px;
}
@media(min-width: 667px) and (max-width: 880px){
    .medium-thumb{
        height: 225px;
    }
}
/*current studies list*/
.research-coordinator {
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 5px;
}

/* Removing mint green line under stories of gratitude video in general dashboard */
.fluid-width-video-wrapper {
    overflow: hidden;
}

/* Search Page */
p:empty {
    padding-bottom: 0;
}
.search .search-items {
    margin-bottom: 40px;
}
.et-fixed-header .et-search-form, .et-fixed-header span.et_close_search_field{
    padding-top: 20px;
}

/* blog */
.single .entry-content.et_pb_row .et_pb_row {
    margin: 0;
    width: 100%;
}
#sidebar {
    padding: 27px 0;
}
.news-blog h2 {
    text-transform: capitalize;
}
#sidebar ul, #sidebar select {
    padding: 0;
    margin-bottom: 30px;
}
#sidebar li {
    list-style: none;
    /* border-bottom: 1px solid #d3d3d3; */
    padding-bottom: 5px;
    line-height: 20px;
    margin-bottom: 3px;
}
#sidebar .metro-social {
    margin-bottom: 30px;
}
#sidebar .metro-social li {
    margin-bottom: 0;
    padding-bottom: 0;
}

.entry-content ul, .entry-content ul a, .entry-content ol, .entry-content ol a {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 28px;
}

body.archive .has-post-thumbnail img {
    width: 30%;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}
/* comments */
.comment-author img {
    float: left;
    margin-right: 10px;
}
.comment-reply-link {
    position: inherit;
    display: inline;
}
.commentlist .comment {
    margin-bottom: 20px;
}
.submit {
    background-color: #2b266d;
    color: #fff !important;
    border: 0;
    padding: 8px 10px;
}

/* No result found */
.archive .entry {
    padding: 27px 0;
}

/*Contact*/
.gm-style:last-child {
    display: none;/*blue background in map*/
}
/* contact form css */
input, textarea, button {
    border: 0;
    outline: none;
}
.wpcf7-form,
.wpcf7-form input,
.wpcf7-form textarea {
    /*font-family: 'din_mediumregular';*/
    font-size: 15px;/*16px appears bold*/
}
.wpcf7-form input[type=text],
.wpcf7-form input[type=email] {
    width: 280px;
}
.wpcf7-form textarea {
    width: 100%;
}
.wpcf7-form input[type=text],
.wpcf7-form input[type=email],
.wpcf7-form textarea {
    border: 0;
    background-color: #e9e8e7;
}
.wpcf7-form input[type=text],
.wpcf7-form input[type=email],
.wpcf7-form textarea,
.wpcf7-form input[type=file] {
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
}
.wpcf7-form textarea {
    padding: 15px;
    height: 100px;
}
.wpcf7-form input {
    height: 44px;
    line-height: 44px;
}
.wpcf7-form input[type=submit], .btn, .button {
    border-radius: 0;
    background-color: #2b266d;
    color: #ffffff;
    display: inline-block;
    height: 39px;
    left: 0;
    line-height: 39px;
    margin-top: 10px;
    padding: 0 28px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    /* width: 120px; */
}
.btn a {
    color: #fff;
}
.wpcf7-form input[type=submit]:hover, .btn:hover {
    /* background-color: #ab1f2d; */
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition:    all 500ms ease-in-out;
    -ms-transition:     all 500ms ease-in-out;
    -o-transition:      all 500ms ease-in-out;
}
::-webkit-input-placeholder {
   color: #2d2d2d;
}

:-moz-placeholder { /* Firefox 18- */
   color: #2d2d2d;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #2d2d2d;
}

:-ms-input-placeholder {
   color: #2d2d2d;
}
.captcha {
    width: auto;
}
.wpcf7-form input.captcha-text {
    border-radius: 0;
    border: 2px solid #dcdcdc;
    background-color: #fff;
    width: 276px;
}
.btn.newsletter-btn p {
    padding-top: 8px;
}
/*Gravity form*/
.gform_title {
    display: none;
}
.error {
    color: red;
}
.block {
    display: block;
}
form#gform_1 label.error {
    display: none;
}
form#gform_1 input,
form#gform_1 select {
    margin-right: 10px;
}
.gfield_creditcard_warning .ginput_complex {
    padding: 10px;
}
.gfield_creditcard_warning label.gfield_label {
    padding-left: 10px;
}
/*ie style 10 and above */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
    header .et-search-field{
        margin-top: 125px;
    }
    span.et_close_search_field{
        margin-top: 2px;
    }
    .call-to-action-row{
        width: 100%;
        max-width: 100%;
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
    .home.et_pb_section{
        padding: 0 !important;
    }
    #et-top-navigation{
        /*margin-right: 30px !important;*/
    }
}
@media (max-width: 1200px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    header #et_top_search{
        right: 0px;
    }
    header .et-search-field{
        margin-top: 80px;
    }
}
/*remove animation*/
#page-container.et-animated-content {
    margin-top: -1px !important;
}

/* customSel */
.customSel {
    background: #ffffff;
    border: 1px solid #d3d3d3;
    height: 25px;
    line-height: 18px;
    margin-top: 5px;
    margin-right: 10px;
    position: relative;
    /* width: 200px; */
    width: 100%;
    margin-bottom: 30px;
    }
@media (max-width: 980px) {
    .customSel {
        width: 200px;
    }
   .two-col-sec .list-news article:last-child {
        margin-bottom: 0;
    }
    .two-col-sec .list-news{
        margin-bottom: 20px;
    }
    .two-row-module .et_pb_column .view-all-module{
        margin-bottom: 60px !important;
    }
}

    .customSel select {
        background: #ffffff;
        border: 0;
        height: 100%;
        line-height: 23px;
        outline: 0;
        width: 100%;
        }

    .customSel select:hover {
        }

.customSel label:after {
    content: '';
    width: 25px;
    height: 23px;
    position: absolute;
    display: inline-block;
    top: 0px;
    right: 0px;
    background: url(../images/custom_sel.png) no-repeat right center white;
    pointer-events: none;

}

/*target Internet Explorer 9 and Internet Explorer 10:*/

@media screen and (min-width:0\0) {
    .customSel label:after {
        display:none;
    }
}

/* breadcrumb underline */
#breadcrumbs > span > span > span > a {
    text-decoration: none !important;
}
.home{
    width: 100%;
    overflow-x: hidden !important;
}
.homepage-slider{
    overflow: hidden;
    clear: both;
}
.home .call-to-action-row{
    min-height: 135px;
}
.img-as-bg .et_pb_main_blurb_image{
    background-repeat: repeat;
    background-size: cover;
    background-position: 20%;
}
.img-as-bg .et_pb_main_blurb_image img{
    opacity: 0 !important;
}

/* Gravity form styles */
.gfield_radio input {
    margin-left: 0.75em;
}

/* Disable Image Animation Globally */
.et-waypoint {
    opacity: 1 !important;
    animation: none !important;
}
